#Row{
  display: flex; 
  width: auto;
  height: auto; 
  overflow-y: hidden;
  overflow-x: scroll;
  padding-top: 20px;
}

#row{
    margin-left: 20px;
    box-sizing: border-box;
    margin-top: 0px;
}

#Row::-webkit-scrollbar{
    display: none;
}

.Row_title{
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 10px;
}

.row_poster{
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row_poster:hover{
    transform: scale(1.08);
}

.withlarge{
    max-height: 250px;
}

.yt_div{
    width: 100%; 
    height: 100%;
    display: flex;
    color: white;
    object-fit: contain;
    transition: all 0.4s;
    position: fixed;
    top: 60px;
    
}



#youtube{
    background-color: transparent;
    height: 40vh;

    width: 100%;
    border-radius: 1.4rem;
    
}

.yt_btn{
    position: absolute;
    
    padding: 7px;
    opacity: 0.7;
    transition: all 0.1s;
}

.yt_btn:hover{
    color: white;
    opacity: 1;
}

.trailer_er{
    position: fixed;
    top: 90px;
    padding: 10px;
    font-size: 1.2rem;
    background-color: red;
    color: aliceblue;
    display: none;
    width: 220px;
    opacity: 0;
    align-self: center;
    
}
#yt_er{
    opacity: 0;
}

.btn{
    background-color: white;
    position: absolute;
    margin-left: 5px;
}

@media  (max-width:600px) {
    .yt_div{
    
        width: 100%;
        height: 100%;
        display: block;
    }
    #youtube{
        width: 100%;
         
        height: auto;
    }
    
}